server {
    server_name nimo.tokyo www.nimo.tokyo;

    location / {
        proxy_pass http://localhost:4454;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
        proxy_connect_timeout 200s;
        proxy_send_timeout    200s;
        proxy_read_timeout    200s;
        send_timeout          200s;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/nimo.tokyo/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/nimo.tokyo/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    server_name n8n.nimo.tokyo;

    location / {
        proxy_pass http://localhost:5678;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;


        proxy_connect_timeout 200s;
        proxy_send_timeout    200s;
        proxy_read_timeout    200s;
        send_timeout          200s;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/nimo.tokyo/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/nimo.tokyo/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}

server {
    if ($host = www.nimo.tokyo) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    if ($host = nimo.tokyo) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 80;
    server_name nimo.tokyo www.nimo.tokyo;
    return 404; # managed by Certbot
}

server {
    if ($host = n8n.nimo.tokyo) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    listen 80;
    server_name n8n.nimo.tokyo;
    return 404; # managed by Certbot
}

