@import "tailwindcss";
@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

:root {
  --text-muted: #7987a1;
  --default-text-color: #333335;
  --primary-color: #38cab3;
  --default-background: #f7f8f9;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--default-background);
  min-height: 100vh;
  height: auto;
  color: var(--default-text-color);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: initial;
}

.box-shadow-main {
  box-shadow: 1px 1px 7px rgba(154, 154, 204, 0.1);
}

/* ant custom */
.ant-menu-item-selected {
  font-weight: bold !important;
}

/* hero ui custom */
.no-mt-select [data-slot="base"] {
  margin-top: 0 !important;
}

/* Toast custom styles */
.toast-container-custom {
  font-size: 0.85rem !important;
  font-weight: 500 !important;
}

.toast-smaller {
  padding: 8px 12px !important;
  min-height: 60px !important;
}

.toast-smaller .Toastify__toast-icon {
  width: 20px !important;
  height: 20px !important;
}

.toast-smaller .Toastify__close-button {
  padding: 20px !important;
  width: 20px !important;
  height: 20px !important;
}

.toast-smaller .Toastify__close-button svg {
  width: 12px !important;
  height: 12px !important;
}
